*{
    background-color: rgb(255, 215, 0);
    text-align: center;
}
.avatar {
width: 400px;
height: 200px;
} 

h1 {
    font-size: 122px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

h2{
    color: rgb(13, 138, 54);
}

.lists {
    font-size: 36px;
    color: aqua;
}

 